@CHARSET "UTF-8";

body {
	padding: 10px;
}

div {
	text-align: left;
}

#MyTitle {
	color: red;
	text-align: left;
	font-size: 5em;
}

ul {
	list-style: none;
}

li {
	width: 100px;
	float: left;
}

.hiding {
	display: none;
	margin: 5px;
}

li:hover .hiding {
	display: block;
}

.static-pos {
	position: absolute;
}